# From Lead to Successful Seller: Analysis of Marketing and Sales Funnel Performance in Olist

## Table of Contents

[Introduction](#introduction)
- [Problem Description](#problem-description)
- [Project Context](#project-context)
- [Key Questions to Answer](#key-questions-to-answer)

## Introduction

### Problem Description

In the competitive world of e-commerce, the success of a platform not only depends on attracting customers but also on its ability to attract and retain sellers who offer quality products. However, converting leads into successful sellers can be a complex process that requires understanding the factors influencing a seller's success on the platform. This includes the efficiency of the marketing funnel, the characteristics of successful sellers, and how these factors impact sales and the platform's overall performance.

### Project Context

This project focuses on analyzing the performance of the marketing and sales funnel of the Olist platform, an online store that connects sellers with customers in Brazil. The dataset includes information on qualified leads, registered sellers, products, orders, payments, and customer reviews. Using this dataset, we will explore how leads progress through the marketing funnel and how registered sellers contribute to the platform's success.

### Key Questions to Answer

1) **What is the conversion rate of leads at each stage of the marketing funnel?**

2) **Which acquisition channels generate leads with the highest likelihood of becoming successful sellers?**

3) **How do seller characteristics, such as catalog size, impact their success?**

4) **Is there a relationship between the lead conversion time and the revenue generated by sellers?**

5) **How can the performance of the marketing and sales funnel be optimized to maximize ROI?**

This project aims to provide actionable insights to improve lead acquisition, optimize seller performance, and increase the revenue generated on the Olist platform.

## Data Loading and Initial Exploration

The analysis begins by loading the relevant datasets from the Olist e-commerce platform. These datasets include:

#### Marketing Dataset

1. `olist_marketing_qualified_leads_dataset`: Contains information about Marketing Qualified Leads (MQLs), including their origin and first contact date.

2. `olist_closed_deals_dataset`: Includes details about leads that converted into registered sellers, such as the date of conversion and lead characteristics.

**Data Schema**

![Marketing Funnel Data Schema](images\marketing_data_schema.png)

#### E-commerce Dataset

1. `olist_orders_dataset`: The core dataset that tracks orders, their status, and timestamps related to purchase, approval, and delivery.

2. `olist_order_items_dataset`: Provides details on the items included in each order, including product and seller identifiers.

3. `olist_sellers_dataset`: Contains information about registered sellers, such as their location and unique IDs.

These datasets are not used in the current analysis as they are not directly related to the objectives of the project.

1. **olist_customers_dataset**: Information about customers, including their unique IDs and location details.

2. **olist_geolocation_dataset**: Geographical data relating zip codes to latitude and longitude, enabling mapping and distance calculations.

3. **olist_products_dataset**: Details about the products sold, including category, size, weight, and description metrics.

4. **olist_order_payments_dataset**: Payment information for each order, including method, installments, and transaction value.

5. **olist_order_reviews_dataset**: Customer reviews for orders, including ratings, comments, and timestamps.

6. **product_category_name_translation**: Translation of product category names from Portuguese to English.

![E-commerce Data Schema](images\e.commerce_data_schema.png)

### Dataset Loading

In [1]:
# import modules 
import pandas as pd

In [2]:
# Load datasets
qleads = pd.read_csv('data/raw/olist_marketing_qualified_leads_dataset.csv')
closed_deals = pd.read_csv('data/raw/olist_closed_deals_dataset.csv')
orders = pd.read_csv('data/raw/olist_orders_dataset.csv')
order_items = pd.read_csv('data/raw/olist_order_items_dataset.csv')
sellers = pd.read_csv('data/raw/olist_sellers_dataset.csv')

### Table Exploration

##### `orders`

In [3]:
orders.info()
orders.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

##### `order_items`

In [4]:
order_items.info()
order_items.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

##### `sellers`

In [5]:
sellers.info()
sellers.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

#### `qleads`

In [21]:
qleads.info()
qleads.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   mql_id              8000 non-null   object
 1   first_contact_date  8000 non-null   object
 2   landing_page_id     8000 non-null   object
 3   origin              7940 non-null   object
dtypes: object(4)
memory usage: 250.1+ KB

,mql_id,first_contact_date,landing_page_id,origin
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search
3,6be030b81c75970747525b843c1ef4f8,2018-01-22,d45d558f0daeecf3cccdffe3c59684aa,email
4,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search

#### `closed_deals`

In [51]:
closed_deals.info()
closed_deals.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842 entries, 0 to 841
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   mql_id                         842 non-null    object
 1   seller_id                      842 non-null    object
 2   sdr_id                         842 non-null    object
 3   sr_id                          842 non-null    object
 4   won_date                       842 non-null    object
 5   business_segment               842 non-null    object
 6   lead_type                      842 non-null    object
 7   lead_behaviour_profile         842 non-null    object
 8   has_company                    842 non-null    object
 9   has_gtin                       842 non-null    object
 10  average_stock                  842 non-null    object
 11  business_type                  842 non-null    object
 12  declared_product_catalog_size  842 non-null    float64
 13  declared_monthly_revenue       842 non-null    float64
dtypes: float64(2), object(12)
memory usage: 92.2+ KB

,mql_id,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
0,5420aad7fec3549a85876ba1c529bd84,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,cat,Unknown,Unknown,Unknown,reseller,0.0,0.0
1,a555fb36b9368110ede0f043dfc3b9a0,bbb7d7893a450660432ea6652310ebb7,09285259593c61296eef10c734121d5b,d3d1e91a157ea7f90548eef82f1955e3,2018-05-08 20:17:59,car_accessories,industry,eagle,Unknown,Unknown,Unknown,reseller,0.0,0.0
2,327174d3648a2d047e8940d7d15204ca,612170e34b97004b3ba37eae81836b4c,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,2018-06-05 17:27:23,home_appliances,online_big,cat,Unknown,Unknown,Unknown,reseller,0.0,0.0
3,f5fee8f7da74f4887f5bcae2bafb6dd6,21e1781e36faf92725dde4730a88ca0f,56bf83c4bb35763a51c2baab501b4c67,d3d1e91a157ea7f90548eef82f1955e3,2018-01-17 13:51:03,food_drink,online_small,Unknown,Unknown,Unknown,Unknown,reseller,0.0,0.0
4,ffe640179b554e295c167a2f6be528e0,ed8cb7b190ceb6067227478e48cf8dde,4b339f9567d060bcea4f5136b9f5949e,d3d1e91a157ea7f90548eef82f1955e3,2018-07-03 20:17:45,home_appliances,industry,wolf,Unknown,Unknown,Unknown,manufacturer,0.0,0.0

##### dataset: `marketing qualified leads`

In [52]:
qleads.info()
qleads.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   mql_id              8000 non-null   object
 1   first_contact_date  8000 non-null   object
 2   landing_page_id     8000 non-null   object
 3   origin              8000 non-null   object
dtypes: object(4)
memory usage: 250.1+ KB

,mql_id,first_contact_date,landing_page_id,origin
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search
3,6be030b81c75970747525b843c1ef4f8,2018-01-22,d45d558f0daeecf3cccdffe3c59684aa,email
4,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search

##### dataset: `closed deals`

In [53]:
closed_deals.info()
closed_deals.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842 entries, 0 to 841
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   mql_id                         842 non-null    object
 1   seller_id                      842 non-null    object
 2   sdr_id                         842 non-null    object
 3   sr_id                          842 non-null    object
 4   won_date                       842 non-null    object
 5   business_segment               842 non-null    object
 6   lead_type                      842 non-null    object
 7   lead_behaviour_profile         842 non-null    object
 8   has_company                    842 non-null    object
 9   has_gtin                       842 non-null    object
 10  average_stock                  842 non-null    object
 11  business_type                  842 non-null    object
 12  declared_product_catalog_size  842 non-null    float64
 13  declared_monthly_revenue       842 non-null    float64
dtypes: float64(2), object(12)
memory usage: 92.2+ KB

,mql_id,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
0,5420aad7fec3549a85876ba1c529bd84,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,cat,Unknown,Unknown,Unknown,reseller,0.0,0.0
1,a555fb36b9368110ede0f043dfc3b9a0,bbb7d7893a450660432ea6652310ebb7,09285259593c61296eef10c734121d5b,d3d1e91a157ea7f90548eef82f1955e3,2018-05-08 20:17:59,car_accessories,industry,eagle,Unknown,Unknown,Unknown,reseller,0.0,0.0
2,327174d3648a2d047e8940d7d15204ca,612170e34b97004b3ba37eae81836b4c,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,2018-06-05 17:27:23,home_appliances,online_big,cat,Unknown,Unknown,Unknown,reseller,0.0,0.0
3,f5fee8f7da74f4887f5bcae2bafb6dd6,21e1781e36faf92725dde4730a88ca0f,56bf83c4bb35763a51c2baab501b4c67,d3d1e91a157ea7f90548eef82f1955e3,2018-01-17 13:51:03,food_drink,online_small,Unknown,Unknown,Unknown,Unknown,reseller,0.0,0.0
4,ffe640179b554e295c167a2f6be528e0,ed8cb7b190ceb6067227478e48cf8dde,4b339f9567d060bcea4f5136b9f5949e,d3d1e91a157ea7f90548eef82f1955e3,2018-07-03 20:17:45,home_appliances,industry,wolf,Unknown,Unknown,Unknown,manufacturer,0.0,0.0

### Identifying Key Relationships

The following relationships will be explored to build the foundation for further analysis:

- **Lead conversion funnel**: Link `mql_id` from the `qleads` to the `closed_deals` to track the progression of leads.

- **Seller performance**: Connect `seller_id` in the `closed_deals` with the `order_items` to analyze seller contributions to orders.

- **Order details**: Use `order_id` to link `orders` with `order_items` for detailed order analysis.

These relationships will allow us to analyze the effectiveness of the marketing funnel, seller performance, and overall platform activity.

## Data Cleaning and Preparation

### Missing Values

##### `orders`

In [43]:
print(orders.isnull().sum())

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In this dataset, only the null values in `order_delivered_customer_date` affect our analysis. Before removing these null values, we first merge the `order_items` dataset to ensure that we do not lose critical information during the cleaning process.

In [44]:
orders_with_items = orders.merge(order_items, on= 'order_id', how='inner')

In [45]:
# Verifying
print(f'orders: {orders.shape[0]}')
print(f'orders in merge dataset: {orders_with_items["order_id"].nunique()}')

orders: 99441
orders in merge dataset: 98666

After merging `orders` with `order_items`, 775 orders were removed as they had no associated products. Since our analysis focuses on successful sales, only orders with products are retained for accuracy.

In [46]:
print(orders_with_items.head())

                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

  order_status order_purchase_timestamp    order_approved_at  \
0    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27
2    delivered      2018-08-08 08:38:49  2018-08-08 08:55:23
3    delivered      2017-11-18 19:28:06  2017-11-18 19:45:59
4    delivered      2018-02-13 21:18:39  2018-02-13 22:20:29

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45
2          2018-08-08 13:50:00           2018-08-17 18:06:29
3          2017-11-22 13:39:59           2017-12-02 00:28:42
4          2018-02-14 19:46:34           2018-02-16 18:17:02

  order_estimated_delivery_date  order_item_id  \
0           2017-10-18 00:00:00              1
1           2018-08-13 00:00:00              1
2           2018-09-04 00:00:00              1
3           2017-12-15 00:00:00              1
4           2018-02-26 00:00:00              1

                         product_id                         seller_id  \
0  87285b34884572647811a353c7ac498a  3504c0cb71d7fa48d967e0e4c94d59d9
1  595fac2a385ac33a80bd5114aec74eb8  289cdb325fb7e7f891c38608bf9e0962
2  aa4383b373c6aca5d8797843e5594415  4869f7a5dfa277a7dca6462dcf3b52b2
3  d0b61bfb1de832b15ba9d266ca96e5b0  66922902710d126a0e7d26b0e3805106
4  65266b2da20d04dbe00c5c2d3bb7859e  2c9e548be18521d1c43cde1c582c6de8

   shipping_limit_date   price  freight_value
0  2017-10-06 11:07:15   29.99           8.72
1  2018-07-30 03:24:27  118.70          22.76
2  2018-08-13 08:55:23  159.90          19.22
3  2017-11-23 19:45:59   45.00          27.20
4  2018-02-19 20:31:37   19.90           8.72

In [47]:
# eliminate nulls values in orders delivered
orders_with_items = orders_with_items.dropna(subset='order_delivered_customer_date')
print(f'Nulls values in orders delivered: {orders_with_items["order_delivered_customer_date"].isnull().sum()}')

Nulls values in orders delivered: 0

#### `qleads`

In [24]:
print(qleads.isnull().sum())

mql_id                0
first_contact_date    0
landing_page_id       0
origin                0
dtype: int64

We replace the 60 null values in `origin` with "Unknown" to retain the information and avoid biases in lead conversion.

In [23]:
qleads['origin'].fillna('Unknown', inplace=True)
# Verifying
print(f'Null values in "origin" variable: {qleads.origin.isnull().sum()}')

Null values in "origin" variable: 0

#### `closed_deals`

In [29]:
print(closed_deals.isnull().sum())

mql_id                           0
seller_id                        0
sdr_id                           0
sr_id                            0
won_date                         0
business_segment                 0
lead_type                        0
lead_behaviour_profile           0
has_company                      0
has_gtin                         0
average_stock                    0
business_type                    0
declared_product_catalog_size    0
declared_monthly_revenue         0
dtype: int64

We do not delete records since they all contain key information. We replace null values with "Unknown" to retain the data and avoid biases.

In [28]:
closed_deals.fillna({
    'business_segment': 'Unknown',
    'lead_type': 'Unknown',
    'lead_behaviour_profile': 'Unknown',
    'has_company': 'Unknown',
    'has_gtin': 'Unknown',
    'average_stock': 'Unknown',
    'business_type': 'Unknown',
    'declared_product_catalog_size': 0  # O 'Unknown' si prefieres texto
}, inplace=True)
# verifying
print(closed_deals.isnull().sum())

mql_id                           0
seller_id                        0
sdr_id                           0
sr_id                            0
won_date                         0
business_segment                 0
lead_type                        0
lead_behaviour_profile           0
has_company                      0
has_gtin                         0
average_stock                    0
business_type                    0
declared_product_catalog_size    0
declared_monthly_revenue         0
dtype: int64

### Merging Datasets

**Necessary Joins for Analysis**
- Join `qleads` with `closed_deals` in `qleads_closed` to analyze the conversion of leads into registered sellers. 
- Join `orders` with `order_items` in `orders_with_items` to relate orders with the products sold. (Already done).
- Join `order_items` with `sellers` in `final_orders` to analyze seller performance based on their sales.

In [33]:
# Join qleads and closed_deals. Join key: mql_id (unique lead identifier).
qleads_closed = qleads.merge(closed_deals, on='mql_id', how='left')

# Join orders_with_items and sellers. Join key: seller_id.
final_orders = orders_with_items.merge(sellers, on='seller_id', how='inner')

In [34]:
# Verifying
print(f"qleads_closed shape: {qleads_closed.shape}")
print(f"final_orders shape: {final_orders.shape}")

qleads_closed shape: (8000, 17)
final_orders shape: (110196, 17)

### Review missing values in the merged datasets.

##### `qleads_closed`

In [35]:
print(qleads_closed.isnull().sum())

mql_id                              0
first_contact_date                  0
landing_page_id                     0
origin                              0
seller_id                        7158
sdr_id                           7158
sr_id                            7158
won_date                         7158
business_segment                 7158
lead_type                        7158
lead_behaviour_profile           7158
has_company                      7158
has_gtin                         7158
average_stock                    7158
business_type                    7158
declared_product_catalog_size    7158
declared_monthly_revenue         7158
dtype: int64

The null values appear in all variables from `closed_deals`, confirming that these leads did not complete the conversion. Marking these records with "Not Converted" in certain key columns allows us to analyze how many leads did not convert and calculate the conversion rate in the marketing funnel.

In [36]:
qleads_closed.fillna({
    'seller_id': 'Not Converted',
    'sdr_id': 'Not Converted',
    'sr_id': 'Not Converted',
    'won_date': 'Not Converted',
    'business_segment': 'Not Converted',
    'lead_type': 'Not Converted',
    'lead_behaviour_profile': 'Not Converted',
    'has_company': 'Not Converted',
    'has_gtin': 'Not Converted',
    'average_stock': 'Not Converted',
    'business_type': 'Not Converted',
    'declared_product_catalog_size': 0,  # 0 as default value
    'declared_monthly_revenue': 0  # Unconverted leads do not generate revenue.
}, inplace=True)

In [37]:
# Verifying
print(qleads_closed.isnull().sum())

mql_id                           0
first_contact_date               0
landing_page_id                  0
origin                           0
seller_id                        0
sdr_id                           0
sr_id                            0
won_date                         0
business_segment                 0
lead_type                        0
lead_behaviour_profile           0
has_company                      0
has_gtin                         0
average_stock                    0
business_type                    0
declared_product_catalog_size    0
declared_monthly_revenue         0
dtype: int64

##### `final_orders`

In [38]:
print(final_orders.isnull().sum())

order_id                          0
customer_id                       0
order_status                      0
order_purchase_timestamp          0
order_approved_at                15
order_delivered_carrier_date      1
order_delivered_customer_date     0
order_estimated_delivery_date     0
order_item_id                     0
product_id                        0
seller_id                         0
shipping_limit_date               0
price                             0
freight_value                     0
seller_zip_code_prefix            0
seller_city                       0
seller_state                      0
dtype: int64

Replace null values with "Unknown" to avoid unnecessary deletions.

In [39]:
final_orders.fillna({
    'order_approved_at': 'Unknown',
    'order_delivered_carrier_date': 'Unknown'
}, inplace=True)
# verifying
print(final_orders.isnull().sum())

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
order_item_id                    0
product_id                       0
seller_id                        0
shipping_limit_date              0
price                            0
freight_value                    0
seller_zip_code_prefix           0
seller_city                      0
seller_state                     0
dtype: int64

### Validation of key uniqueness.

Validation of key uniqueness (`mql_id`, `order_id`, `seller_id`) to ensure that the merge was performed correctly, verifying if the primary keys remain unique in their respective datasets.

#### *mql_id* in `qleads_closed`

In [40]:
print(f"Total rows in qleads_closed: {qleads_closed.shape[0]}")
print(f"Unique `mql_id`: {qleads_closed['mql_id'].nunique()}")

Total rows in qleads_closed: 8000
Unique `mql_id`: 8000

#### *order_id* in `final_orders`

In [41]:
print(f"Total rows in final_orders: {final_orders.shape[0]}")
print(f"Unique `order_id`: {final_orders['order_id'].nunique()}")

Total rows in final_orders: 110196
Unique `order_id`: 96476

#### *seller_id* in `final_orders`

In [42]:
print(f"Total rows in sellers: {sellers.shape[0]}")
print(f"Unique sellers in final_orders: {final_orders['seller_id'].nunique()}")

Total rows in sellers: 3095
Unique sellers in final_orders: 2970

The difference of 125 sellers between `sellers` and `final_orders` is because some sellers have not made any sales. Since the analysis focuses on sellers with recorded transactions, no action is needed.

### Identification of Inconsistencies

After merging the datasets, it is crucial to check for inconsistencies to ensure data integrity.

In [48]:
# Check for duplicates in orders_with_items
duplicates_orders_items = orders_with_items.duplicated().sum()
print(f"Duplicate rows in orders_with_items: {duplicates_orders_items}")

# Check for duplicates in final_orders
duplicates_final_orders = final_orders.duplicated().sum()
print(f"Duplicate rows in final_orders: {duplicates_final_orders}")

# Check for duplicates in qleads_closed
duplicates_qleads_closed = qleads_closed.duplicated().sum()
print(f"Duplicate rows in qleads_closed: {duplicates_qleads_closed}")

Duplicate rows in orders_with_items: 0
Duplicate rows in final_orders: 0
Duplicate rows in qleads_closed: 0

### Detect Negative or Unusual Values

In [61]:
# Check for negative values in final_orders
numeric_cols = final_orders.select_dtypes(include=['number'])
negative_values_orders = final_orders[(numeric_cols < 0).any(axis=1)]
print(f"Negative values in final_orders: {negative_values_orders.shape[0]}")

# Check for negative values in final_orders
numeric_cols = qleads_closed.select_dtypes(include=['number'])
negative_values_orders = qleads_closed[(numeric_cols < 0).any(axis=1)]
print(f"Negative values in qleads_closed: {negative_values_orders.shape[0]}")

# Check for negative values in orders_with_items
numeric_cols = orders_with_items.select_dtypes(include=['number'])
negative_values_orders = orders_with_items[(numeric_cols < 0).any(axis=1)]
print(f"Negative values in orders_with_items: {negative_values_orders.shape[0]}")

Negative values in final_orders: 0
Negative values in qleads_closed: 0
Negative values in orders_with_items: 0